<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="18"
    android:versionName="5.0"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- WRITE_EXTERNAL_STORAGE no longer provides write access when targeting Android 10+ -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Required only if your app needs to access images or photos
     that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Required only if your app needs to access videos
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- Required only if your app needs to access audio files
         that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can
         <a href="#assert-never-for-location">strongly assert that your app
         doesn't derive physical location</a>. -->
    <!-- Include "neverForLocation" only if you can strongly assert that
          your app never derives physical location from Bluetooth scan results. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name="com.sampietro.NaiveAAC.activities.Main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.20210823simsim">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sampietro.NaiveAAC.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" /> 
        <activity android:name="com.sampietro.NaiveAAC.activities.Account.AccountActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.VerifyActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsMediaActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsContentsActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsStoriesActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsStoriesImportExportActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsWordPairsActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.Game2.SettingsStoriesRegistrationActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.GameADA.SettingsStoriesImprovementActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.GameADA.SettingsStoriesImprovementViewPagerActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Settings.SettingsStoriesWordActivity"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Settings.SettingsActivity" />
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Info.InfoActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Info.EulaActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Info.PrivacyActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.Game1.Game1Activity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.Game1.Game1BleActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.Game2.Game2Activity"
            android:launchMode="singleInstance">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.Game2.Game2BleActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.GameADA.GameADAActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.GameADA.GameADAViewPagerActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Game.ChoiseOfGame.ChoiseOfGameActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Main.AskIfAdultActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Info.RequestConsentToTheProcessingOfPersonalDataActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Info.RequestConsentFirebaseActivity">
        </activity>
        <activity android:name="com.sampietro.NaiveAAC.activities.Main.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sampietro.NaiveAAC.activities.Game.Balloon.BalloonGameplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.sampietro.NaiveAAC.activities.Game.ChoiseOfGame.ChoiseOfGameActivity"
            android:screenOrientation="sensorLandscape">
        <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sampietro.NaiveAAC.activities.Game.ChoiseOfGame.ChoiseOfGameActivity" />
        </activity>
        <service android:name="com.sampietro.NaiveAAC.activities.Bluetooth.BluetoothLeService" android:enabled="true"/>
    </application>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
</manifest>